* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-scroll-behavior:smooth;
    scroll-behavior: smooth;
}

body {
  font: 700 14px/1 'Red Hat Text', sans-serif;
  background: url("../images/bg-stars.svg"), #000000;
  height: 100vh;
  margin: 0;
  display:grid;
  place-items: center;
  transition: all 1s;
}
